{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in all_movies %}
        <div class="co-md-3" style="padding-left:21px; padding-top:30px;">
            <div class="card"  style="width:200px; height:350px;" >
  <img src="{{i.img.url}}" style="height:230px; width:198px;" class="card-img-top" alt=""  height="300">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.dec}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
